* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Lora", serif;
      
}


body {
    background-color: #000;
    color: #fff;
}


header {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 20px  20px 20px;
    background-color: #000;
    border-bottom: solid 1px #333;
    position: fixed;
    z-index: 2;
}

header img {
    height: 70px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-family: "Playfair Display", serif;
}

nav a:hover {
    border-bottom: solid 1px #ffa500;
}


nav li {
    position: relative;
}

#menuPopUp {
    position: absolute;
    top: 100%;
    left: 0;
    background: #111;
    margin-top: 10px;
    display: none;
   
    flex-direction: column;
    padding: 10px;
    border: 1px solid #333;
}
#popUp.ativo{
  display: block;
}
#popUp li {
    font-size: 1.2em;
    margin: 10px 0;
}
#popUp li:hover{
  border-bottom: solid 1px #ffa500;
}
/* btn de avanca e volta carrosel */
.btnInfoCarrosel{
  position: absolute;
  z-index: 1;
  left: 980px;
  top: 270px;
  width: 100px;
}
/* btn para indentificação de img 1 ou 2 do carrosel */
#btnCarrosel1{
    color: #ffa500;
}
.btnsCarrosel{
  position: absolute;
  z-index: 1;
  right: 70px;
  top: 312px;
  width: 1950px;
  display: flex;
  justify-content: space-between;
}
.avancaCarrosel , .voltaCarrosel{
  font-size: 2em;
}
.carrosel {
    height: 620px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    border-top: 1px solid #777;
    margin-bottom: 30px;
}
.carrosel .carroselImg1 {
  
    height: 500px;
    object-fit: contain;
}
.carrosel .carroselImg2 {
    height: 500px;
    display: none;
    object-fit: contain;
}
/* estiliza o caontainer cards */
.cards {
    width: 100%;
    height: 600px;
    padding: 40px;
    background-color: #111;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#titleBlog {
    text-align: center;
    margin-bottom: 30px;
    font-size:2em;
    position: absolute;
    width: 98%;
    top: 680px;
    /* position: absolute;
    left: 1070px; */
}
.card1 {
    width: 100%;
    height: 365px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto 30px auto;
}

.img-card1 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.infos-card1 {
    padding: 15px;
}

.infos-card1 h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.infos-card1 p {
    font-size: 14px;
    margin-bottom: 15px;
}

.infos-card1 button,
.infos-card1 input,
.infos-card1 a {
    background-color: black;
    color: white;
    padding: 10px 15px;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.entreEmContato {
    width: 100%;
    height: 580px;
    padding: 40px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titleForm{
    font-size: 2em;
    position: absolute;
    top: 1270px;
}

form {
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 60%;
    height: 440px;
}

form label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ffa500;
    border-radius: 5px;
}

form textarea {
    resize: vertical;
    height: 80px;
}

form input {
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    float: right;
}
#InputDescricao{
    height: 120px;
}

footer {
    background-color: #111;
    text-align: center;
    padding: 20px;
    color: white;
}

.btnEnviar{
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    width: 300px;
    height: 35px;
    font-size: 1.4em;
    position: relative;
    left: 860px;
    color: gold;
}
.btnComprar{
    background-color: black;
    border: solid white  3px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-size: 1.1em;
    color: gold;
}
.PopUpMsg{
  display: none;

  background-color: #1d9c0780;
  border-radius: 5px;
  position: absolute;
  left: 910px;
  top: 1320px;
  width: 300px;
  height: 50px;
  padding: 10px;
  text-align: center;
}
.popUpMsgEnviado h1{
  color: #ffa500;
}
